:root {
    --light: #edf2f9;
    --dark: #152e4d;
    --darker: #12263f;
  }
  
  .dark .dark\:text-light {
    color: var(--light);
  }
  
  .dark .dark\:bg-dark {
    background-color: var(--dark);
  }
  
  .dark .dark\:bg-darker {
    background-color: var(--darker);
  }
  
  .dark .dark\:text-gray-300 {
    color: #d1d5db;
  }
  
  .dark .dark\:text-indigo-500 {
    color: #6366f1;
  }
  
  .dark .dark\:text-indigo-100 {
    color: #e0e7ff;
  }
  
  .dark .dark\:hover\:text-light:hover {
      color: var(--light);
  }
  
  .dark .dark\:border-indigo-800 {
    border-color: #3730a3;
  }
  
  .dark .dark\:border-indigo-700 {
    border-color: #4338ca;
  }
  
  .dark .dark\:bg-indigo-600 {
    background-color: #4f46e5;
  }
  
  .dark .dark\:hover\:bg-indigo-600:hover {
    background-color: #4f46e5;
  }
  
  .dark .dark\:border-indigo-500 {
    border-color: #6366f1;
  }
  
  .hover\:overflow-y-auto:hover {
    overflow-y: auto;
  }
  .logo {
    width: 50px;
    display: inline;
  }
  .h-4
  {
    height: 4rem;
  }
  .text-base {
    MARGIN-TOP: 15PX;
}
.bg-theme
{
  background-color: #f8fafc;
}
.h-50
{
  min-height: 50px;
}
.gradient-green
{
  background: linear-gradient(90deg, #f8a945 0%, #7fa73b 100%);
}
.gradient-red
{
  background: linear-gradient(90deg, #dd3531 0%, #dd3531 100%);
}
.text-logo-green
{
color:#7fa73b;
}
.rounded-5
{
  border-radius: 5px;
}
.pt-12
{
  padding-top: 12px;
}
.bg-theme-green
{
background:#7fa73b;
color:#fff;
}
.list-p
{
  padding-top: .7em;
  display: block;
  line-height: 1.5;
}
.m-l-15
{
  padding: 1.5rem;
}
.text-justify
{
  text-align: justify;
}